[submodule "source/min-api"]
	path = source/min-api
	url = https://github.com/Cycling74/min-api.git
[submodule "applications/MaxScreen"]
	path = applications/MaxScreen
	url = https://github.com/xavierxeon-music/MaxScreen.git
[submodule "applications/HelpForMax"]
	path = applications/HelpForMax
	url = https://github.com/xavierxeon-music/HelpForMax.git
